body{
    margin: 0;
    padding: 0;
}

.bg{
    height: 110vh;
    width: 98.9vw;
    background: linear-gradient(to bottom left, #f2ec3b 44%, #80f9c0 80% );

}

.navbar{
    height: 88px;
    width: 55%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction:row;
    gap: 46px;
    padding-top: 18px;
    margin-left: -5%;
    /* padding: 18px 0 0px 30px; */
}

ul a{
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    font-weight:560;
    font-family: Helvetica, 'Times New Roman', Times, serif;
    color: #0000009b;
}

.nav-black{
    height: 88px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #000000ec;
    opacity: 0.2;
}

.logo img{
    width: 53%;
    padding: 29px 0 0px 29px;
}

.navbar-second{
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    height: 87px;
    width:40%;
    display: flex;
    flex-direction: row;
    gap: 46%;
    /* justify-content: end; */
}

.navbar-second img {
    margin-top: 30px;
    margin-left: 700%;

}
.navbar-second button{
    margin-top: 25px;
    margin-right:90%;
    height: 40px;
    width: 125px;
    font-size: 12px;
    font-weight: bolder;
    color: aliceblue;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(215, 144, 13),rgb(230, 170, 5) );
}

.navbar-second button:hover{
    background: linear-gradient(to bottom, rgb(215, 144, 13),rgb(230, 170, 5) );

}

.pic img{
    position: absolute;
    top: 40%;
    left: 35%;
    height: 16px ;
}

.pic #plus{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 20px;
}

.heading{
    height: 80px;
    width: 50%;
    position: absolute;
    top:46%;
    left:-2%;
}

.heading h1{
    text-transform: capitalize;
    text-align: start;
    font-size: 102px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 18%;
}

.line{
    width:20%;
    height: 10px;
    background-color: #000;
    border-radius: 10px;
    margin-left: 18%;
    margin-top: -8%;
}

.heading h3{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-left:18% ;
    line-height: 0.3;

}
.body #plus{
    position: absolute;
    bottom: 0%;
    left: 44%;
    height: 18px;
}

.image img{
    width: 40%;
    height: 98vh;
    position: absolute;
    top: 86px;
    right: 0;
}

.image #image{
    width: 55%;
    top:26% ;
    left: 43%;
}

.one{
    height: 110vh;
    width: 98.9vw;
    background:black;
}